= content_for(:title, "Log in")
%h1 Log in

.row
  .col-md-6.col-md-offset-3
    = form_tag login_path do 

      = label :session, :email
      = email_field :session, :email, class: 'form-control'

      = label :session, :password
      = password_field :session, :password, class: 'form-control'
      
      = label :session, :remember_me, class: "checkbox inline" do 
        = check_box :session, :remember_me
        %span Remember me on this computer:
      
      = submit_tag "Log in", class: "btn btn-primary" 

    %p New user? #{link_to "Sign up now!", signup_path}