= content_for(:title, "Edit " + @student.firstname+" profile")

%h1 Edit Your Profile
.row
  .col-md-6.col-md-offset-3
    = form_tag student_path(@student), :method => :put do

      = label :student, :firstname, 'First name'
      = text_field :student, :firstname

      = label :student, :lastname, 'Last name'
      = text_field :student, :lastname

      = label :student, :is_f1, 'Are you F1?'
      = select :student, :is_f1, ['True','False'], :selected => @student.is_f1

      = label :student, :program_id, 'Degree program'
      = select :student, :program_id, Program.all.map {|p| p.name.to_s}, :selected => @student.program.name

      = label :student, :has_prior_master, 'If a Ph.D. candidate, do you have a related master degree?'
      = select :student, :has_prior_master, ['True','False'], :selected => @student.has_prior_master
      
      = label :student, :yearstart, 'Year of your first semester'
      = select :student, :yearstart, Semester.all.distinct(:year).pluck(:year) {|s| s.year.to_s}, :selected => @student.yearstart
      
      = label :student, :semstart, 'First semester'
      = select :student, :semstart, ['Spring','Summer','Fall'], :selected => @student.semstart

      = label :student, :yearend, 'Expected Graduation year'
      = select :student, :yearend, Semester.all.distinct(:year).pluck(:year) {|s| s.year.to_s}, :selected => @student.yearend
      
      = label :student, :semend, 'Expected Graduation Semester'
      = select :student, :semend, ['Spring','Summer','Fall'], :selected => @student.semend     
      .col-md-6.col-md-offset-3
        = submit_tag 'Update student info', class: "btn btn-lg btn-primary"
