= content_for(:title, "Edit " + @student.firstname+" profile")

%h1 Edit Your Profile
.row
  .col-md-6.col-md-offset-3
    = form_tag student_path(@student), :method => :put do

      = label :student, :firstname, 'First name'
      = text_field :student, :firstname


      = label :student, :lastname, 'Last name'
      = text_field :student, :lastname


      = label :student, :is_f1, 'Are you F1?'
      = select :student, :is_f1, ['True','False'], :selected => @student.is_f1


      = label :student, :program_id, 'Degree program'
      = select :student, :program_id, Program.all.map {|p| p.name.to_s}, :selected => @student.program.name


      = submit_tag 'Update student info', class: "btn btn-lg btn-primary"
