= content_for(:title, "Create your profile")
%h1 Input Your Info

.row
  .col-md-6.col-md-offset-3
    = form_tag students_path do
      = render 'shared/student_error_messages'


      = label :student, :firstname, 'First name'
      = text_field :student, :firstname, class: 'form-control'


      = label :student, :lastname, 'Last name'
      = text_field :student, :lastname, class: 'form-control'


      = label :student, :is_f1, 'Are you F1?'
      = select :student, :is_f1, ['True','False']


      = label :student, :program_id, 'Degree program'
      = select :student, :program_id, Program.all.map {|p| p.name.to_s}

      = label :student, :yearstart, 'Year of your first semester'
      = text_field :student, :yearstart, class: 'form-control'
      
      = label :student, :semstart, 'First semester'
      = select :student, :semstart, ['Spring','Summer','Fall'], :selected => @student.semstart

      = label :student, :yearend, 'Expected Graduation year'
      = text_field :student, :yearend, class: 'form-control'
      
      = label :student, :semend, 'Expected Graduation Semester'
      = select :student, :semend, ['Spring','Summer','Fall'], :selected => @student.semend     

      = submit_tag 'Save changes'
