= content_for(:title, "Create your profile")
%h1 Input Your Info

.row
  .col-md-6.col-md-offset-3
    = form_tag students_path do
      = render 'shared/student_error_messages'

      = label :student, :firstname, 'First name'
      = text_field :student, :firstname, class: 'form-control'


      = label :student, :lastname, 'Last name'
      = text_field :student, :lastname, class: 'form-control'


      = label :student, :is_f1, 'Are you F1?'
      = select :student, :is_f1, ['True','False']


      = label :student, :program_id, 'Degree program'
      = select :student, :program_id, Program.all.map {|p| p.name.to_s}

      = label :student, :has_prior_master, 'If a Ph.D. candidate, do you have a related master degree?'
      = select :student, :has_prior_master, ['True','False'], :selected => "False"
      
    
      = label :student, :yearstart, 'Year of your first semester'
      = select :student, :yearstart, (Semester.all.distinct(:year).pluck(:year) {|s| s.year.to_s}).sort()
      
      = label :student, :semstart, 'First semester'
      = select :student, :semstart, ['Spring','Summer','Fall']

      = label :student, :yearend, 'Expected Graduation year'
      = select :student, :yearend, (Semester.all.distinct(:year).pluck(:year) {|s| s.year.to_s}).sort()
      
      = label :student, :semend, 'Expected Graduation Semester'
      = select :student, :semend, ['Spring','Summer','Fall']  
      .col-md-6.col-md-offset-3
        = submit_tag 'Save changes', class: "btn btn-lg btn-primary"
