= content_for(:title, @student.firstname+" profile")

%h2 Details about #{@student.firstname}

.row
  .col-md-5.col-md-offset-4
    %table.table
      %tr
        %th First name:
        %td= @student.firstname
      %tr
        %th Last name:
        %td= @student.lastname
      %tr
        %th Email:
        %td= @student.user.email
      %tr
        %th Is F1?:
        %td= @student.is_f1
      %tr
        %th Program:
        %td= @student.program[:name]

.center
  = link_to 'Edit', edit_student_path(@student), class: "btn btn-lg btn-primary"
