= content_for(:title, @student.firstname+" profile")

= render 'shared/student_error_messages'

%h1 Profile information about #{@student.firstname} #{@student.lastname}
%br
.row
  .col-md-5.col-md-offset-4
    %table.table
      %tr
        %th First name:
        %td= @student.firstname
      %tr
        %th Last name:
        %td= @student.lastname
      %tr
        %th Email:
        %td= @student.user.email
      %tr
        %th Is F1?:
        %td= @student.is_f1
      %tr
        %th Program:
        %td= @student.program[:name]
      %tr
        %th Prior master:
        %td= @student.has_prior_master
      %tr
        %th Beginning year:
        %td= @student.yearstart
      %tr
        %th First Semester:
        %td= @student.semstart
      %tr
        %th Expected Graduation Year:
        %td= @student.yearend
      %tr
        %th Expected Graduation Semester:
        %td= @student.semend
%br
.center
  = link_to 'Edit Profile', edit_student_path(@student), class: "btn btn-lg btn-primary"
  = link_to 'Back to home', user_path(current_user), class: "btn btn-lg btn-primary"
