= content_for(:title, "Course details")

%h1= @course.full_name
%h2 Description:
%p= @course.description

%h2 Previous sections:

.row
  .col-md-10.col-md-offset-1
    %table.table
      %thead
        %tr
        %th Semester
        %th Year
        %th Instructor
        %th GPA
        %th A %
        %th B %
        %th C %
        %th Q drop %
        %th No. students
      %tbody
        - @sections.each do |section|
          %tr
            %td= section.term
            %td= section.year
            %td= section.instructor
            %td= section.gpa
            %td= section.a
            %td= section.b
            %td= section.c
            %td= section.q
            %td= section.student
.center
  = link_to 'Back to degree plan', plan_student_path(current_student), class: "btn btn-lg btn-primary"
