= content_for(:title, "Course details")

%h1= 'Sections for ' + @course.department + @course.number.to_s+' '+@course.name

.row
  .col-md-10.col-md-offset-1
    %table.table
      %thead
        %tr
        %th Semester
        %th Year
        %th Instructor
        %th GPA
        %th A percentage
        %th B percentage
        %th C percentage
        %th Q percentage
        %th No. students
      %tbody
        - @sections.each do |section|
          %tr
            %td= section.term
            %td= section.year
            %td= section.instructor
            %td= section.gpa
            %td= section.a
            %td= section.b
            %td= section.c
            %td= section.q
            %td= section.student
.center
  = link_to 'Back to degree plan', plan_student_path(current_student), class: "btn btn-lg btn-primary"
