!!!
%html
  %head
    %title= "#{yield(:title)} | Degree Planner"
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    = render 'layouts/header'
    .container
      - if logged_in? and (not current_student.nil?) and not (current_page?(controller: 'static_pages', action: 'about') or current_page?(controller: 'static_pages',action: 'help') or current_page?(controller: 'static_pages',action: 'contact')) and current_page?(plan_student_path)
        .col-md-7.col-md-offset-4
          - flash.each do |message_type, message|
            %div{:class => "alert alert-#{message_type}"}= message
      - else
        - flash.each do |message_type, message|
          %div{:class => "alert alert-#{message_type}"}= message
          %br
      = yield
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?

